header img{
    height: 300px;
}
nav a{
    text-decoration: none;
    color: rgb(255, 123, 0);
    padding: 5px 15px;
    font-size: 16px; 
}
header{
    text-align: center;
    background-color: blanchedalmond;
}
nav a{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: rgb(255, 255, 142);
    border-radius: 20px 0px 20px 0px;
    padding: 5px 15px;
    color: rgb(245, 166, 49);
    text-decoration: none;
    border-radius: 10px 0px 20px 0px;
    transition: 1s;
}
nav a:hover{
    color: rgb(255, 182, 92);
    background-color: rgb(255, 255, 255);
    border-radius: 20px 20px 20px 20px;
    box-shadow: 5px 5px 5px 12px;
    padding: 7px 20px;
    transition: 0.5s; 
}
body{
    margin: 0;
}
