header{
    text-align: center;
    justify-content: center;
    border-radius: 15px;
    background: darkorange;
    height: 110px;
    box-shadow: 2px 2px 2px 2px;
    position: relative;
    font-size: 30px;
}
nav{
    margin-top: 25px;
    margin-bottom: 50px;
    font-size: 20px;
    padding: 4px;
}
nav a{
    text-decoration: none;
    color: lightsalmon;
    padding: 5px 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 22px;
    border-radius: 10px 10px 10px 10px;
    background: indianred;
}
nav a:hover{
    color: peru;
    background-color: beige;
    transition: 0,7s;
    border-radius: 10px 10px 10px 10px;


}
.home{
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-image: url(img1.png);
    height: 800px;
    

}
.kotakBiotek{
    width: 50%;
    margin-left: 10px;
    padding-top: 25px;
}
.namaBiotek{
    width: 50%;
    padding: center;
    
}
section.project img{
    height: 300px;
}
.deskProject{
    width: 60%;
    margin: auto;
    padding: 40px 50px;
    text-align: center;
}
section.howto{
    height: 640px;
    padding-top: 100px;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}
.howto img{
    height: 500px;

}
.deskHowto{
    display: flex;
    width: 60%;
    margin: auto;
}
.dokumentasi{
    margin: 20px;
}
.cardProfile{
    background-color: orange;
    border-radius: 10px 10px 10px 10px;
    padding: 15px;
    width: 300px;
    margin: auto;
    text-align: center;
    margin-bottom: 150px;
}
.imgProfile img{
    width: 100%;
    border-radius: 5px 5px 5px 5px;

}

.medsos{
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    height:40px;
    padding-top: 5px;
}
.medsos a{
    text-decoration: none;
    padding: 10px 10px;
    font-size: 24px;
    text-align: center;
}
section.profile{
    width: 100px;
    display: flex;
    margin: auto;
    justify-content: center;
}
.container{
    text-align: center;
}
